body{
    margin: 0;
    font-size: 16px;
    background: #111;
}

:root{
    --primary-color: mediumSpringGreen;
    --light-shade: rgba(255, 255, 255, 0.1);
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.25em;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba($color: #fff, $alpha: 0.1);
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba($color: #fff, $alpha: 0.1);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
button{
    display: inline-flex;
    align-items: center;
    background: transparent;
    color: var(--primary-color);
    padding: 1.2em;
    border: none;
    transition: background 0.2s ease;
    font-weight: bold;
    svg{
        height: 1em;
    }
    &:hover{
        background: var(--light-shade);
        cursor: pointer;
    }
    &:first-of-type{
        margin-left: auto;
    }
    &:focus{
        outline: none;
    }
}
input{
    align-self: flex-start;
    display: flexbox;
    width: 100%;
    padding: 1em;
    border: none;
    margin: 1em 0;
    background: #181818;
    color: white;      
    font-size: 1em;  
}

.popup-container{
    display: grid;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    place-items: center;
    background: rgba($color: #000000, $alpha: 0.4);
    z-index: 4;
    transition: opacity 0.2s ease;
    .popup{
        overflow-y: auto;
        padding: 1em 0;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        background: #222;
        transform: translateY(1em);
        transition: transform 0.2s ease;
        box-shadow: 0 2em 2em rgba($color: #000000, $alpha: 0.24);
        color: white;
    }
}

#article_creation_modal{
    max-height: 24em;
    width: 24em;
    padding: 1em 2em;
    h3,h4{
        font-weight: normal;
        width: 100%;
    }
   
    button{
        margin: 1em 0;
    }
    #hide_article_creation_modal{
        margin-left: auto;
        margin-right: 1em;
    }
}
.section-title{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    h2{
        color: #111;
        background: var(--primary-color);
        padding: 0.5em;
        margin: 0;
    }
}
.gallery-name{
    padding: 0.2em 0;
    margin: 1em 0;
    color: white;
}
.edit-article{
    margin-left: auto;
    svg{
        fill: var(--primary-color);
        margin-right: 0.5em;
    }
}
#edit_article{
    width: 24em;
    padding: 0;
    label{
        width: 100%;
        font-size: 0.9em;
    }
    input{
        margin-bottom: 2em;
        margin-top: 0.5em;
    }
    header{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5em 1em;
        button{
            margin-left: auto;
            margin-right: 0;
            align-self: center;
            svg{
                stroke: var(--primary-color);
                stroke-width: 4px;   
                fill: none; 
                margin-right: 0.5em;
            }
        }
    }
    #edit_section_container{
        max-height: 50vh;
        overflow-y: auto;
        padding: 1em;
    }
}
.gallery-container{
    position: relative;
    .navigation-arrows{
        transition: opacity 0.2s ease;
        cursor: pointer;
        padding: 1.5em;
        height: 100%;
        width: 4em;
        z-index: 2;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        fill: white;
    }
    .navigation-arrows:nth-of-type(1){
        background: linear-gradient(to left, transparent, rgba(0,0,0, 0.6));
    }
    .navigation-arrows:nth-of-type(2){
        right: 0;
        background: linear-gradient(to right, transparent, rgba(0,0,0, 0.6));
    }
}
.gallery{
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.article-body{
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
    min-width: 30%;
    background-color: #222;
    color: white;
    margin: 0 1em 1em 0;
    box-shadow: 0.25px 0.5em 0.5em rgba(0,0,0, 0.3);
    .article-header{
        padding: 0.5em 1em;
        word-break: break-all;
        h5{
            font-weight: normal;
        }
    }
    .card-body{
        flex: 1;
        .content-div{
            padding: 0 1em;
            min-height: 8em;
            line-height: 1.4em;
        }
    }
    .card-footer{
        display: flex;
        padding: 0.5em 1em;
        h5{
            display: flex;
            font-weight: normal;
            user-select: none;
            align-items: center;
            &:first-of-type{
                margin-left: auto;
                color: var(--primary-color);
                cursor: pointer;
            }
            svg{
                stroke: var(--primary-color);
                width: 1.2em;
                margin-right: 0.5em;
                &:hover{
                    fill: var(--primary-color);
                }
            }
        }
    }
}
.show{
    opacity: 1;
    pointer-events: all;
}
.hide{
    opacity: 0;
    pointer-events: none;
}
#article_container{
    padding: 2em;
    position: absolute;
    width: 100%;
    height: calc(100% - 4em);
    bottom: 0;
    overflow-y: auto;
}

.no-transformations{
    transform: none !important;
}

#navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background: #222;
    padding: 0.5em;
    #icon{
        width: 2em;
        margin: 0 0.5em;
    }
    button{
        text-transform: uppercase;
    } 
}

#loader_container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    background: rgba(0,0,0, 0.3);
    display: grid;
    place-content: center;
    z-index: 15;
    text-align: center;
    #spinner{
        position: relative;
        height: 2em;
        fill: teal;
        overflow: visible;
        justify-self: center;
    }
    h4{
        font-weight: normal;
        color: white;
    }
}

// animations

.pulse{
    .first-orb{
        animation: pulse 1s infinite ease;
    }
    .second-orb{
        animation: pulse 1s 0.1s infinite ease;
    }
    .third-orb{
        animation: pulse 1s 0.2s infinite ease;
    }
}

@keyframes pulse{
    0%{
        transform: scale(1);
    }
    60%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

@media only screen and (max-width: 640px){
    .article-body{
        min-width: calc(100% - 2em) !important;
    }
       #article_container{
        padding: 1em;
    }
    .navigation-arrows{
        opacity: 0;
        pointer-events: none;
    }
    .popup{
        margin-top: auto;
        width: 100% !important;
    }
    #edit_section_container{
        max-height: 80vh !important;
    }
}
@media only screen and (max-width: 1280px){
    .article-body{
        min-width: 50%;
       }
    }